#check {
}

.common {
  margin: auto;
  width: 80%;
}
.check {
  background-color: #fff;
}

.check h2 {
  padding: 70px 0 50px 0;
  text-align: center;
  color: #fdc000;
  font-weight: bold;
  font-size: 70px;
}
.check h3 {
  font-size: 18px;
  font-weight: bold;
}

.check_info table {
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ddd;
}
.check_info table tr {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
}
.check_info table th {
  background-color: #eee;
  font-weight: bold;
}

.check_info table input,
.check_info table button {
  height: 40px;
  width: 90%;
  border: 1px solid #ddd;

  outline: 0;
  margin-left: 50%;
  transform: translateX(-50%);
}
.check_info th {
  vertical-align: middle;
}
.check_button {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.check_info p {
  padding: 20px;
}

.check-btn {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;

  background-color: #fdc000;
  color: #fff;
  border: none;
  cursor: pointer;
}
